<div class="container">
<h1>My tasks</h1>
  <div>
    <ul class="tasks-list">
      <% @tasks.each do |task| %>
        <li>
          <%= render "completed", task: task %>
          <%= link_to task.title, task_path(task) %>
          <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/tasks/<%= task.id %>"><i class="fas fa-trash"></i></a>
        </li>
      <% end %>
    </ul>
  </div>
  <div>
    <i class="fas fa-plus"></i><%= link_to "Add a new task", new_task_path %>
  </div>
</div>
